:root {
    --bg-color: hsl(210, 46%, 95%);
    --bg-second-color:  hsl(0, 0%, 100%);
    --title-color: hsl(0, 0%, 16%);;
    --txt-color: hsl(0, 0%, 50%);
    /* Add your other colors here */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--txt-color);
    min-height: 100vh;
    padding: 2rem;
}


main, .card-body, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1;
}

.card {
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg-second-color);
    box-shadow: 0 0 10px hsl(212, 52%, 85%);
    margin: 1rem;
}

.card-body {
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}


.card-title {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--title-color);
    line-height: 1.7rem;
}

.card-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--txt-color);
    line-height: 1.5rem;
}

img.card-img-top {
    border-radius: 5%;
    width: 100%;
}

